# Athletes

## Summarize data in Python

In [1]:
import pandas as pd

athletes = pd.read_csv("../dataset/Olympic_Athlete_Bio.csv")

### Shape
- Number of features
- Number of observations

In [3]:
print(athletes.shape)

(155031, 10)

### Info()
- Data types
- Missing data?

In [4]:
print(athletes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155031 entries, 0 to 155030
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   athlete_id     155031 non-null  int64
 1   name           155031 non-null  object
 2   sex            155031 non-null  object
 3   born           155031 non-null  object
 4   height         155031 non-null  object
 5   weight         155031 non-null  object
 6   country        155031 non-null  object
 7   country_noc    155031 non-null  object
 8   description    155031 non-null  object
 9   special_notes  155031 non-null  object
dtypes: int64(1), object(9)
memory usage: 11.8+ MB
None

### Lookingat the first linesof the data: .head()
- Do the columns make sense?
- Do the values in those columns make sense?
- Are the values on the right scale?

In [14]:
print(athletes.head())

   athlete_id                 name     sex        born height weight  \
0       16809       Károly Teppert    Male  1891-07-20     na     na
1       43737    Andrzej Socharski    Male  1947-08-31  173.0     72
2       50147  Nathalie Wunderlich  Female  1971-06-03  170.0     50
3        5085           Miha Lokar    Male  1935-09-10  182.0     76
4      136329          Austin Hack    Male  1992-05-17  203.0    100

          country country_noc  \
0         Hungary         HUN
1          Poland         POL
2     Switzerland         SUI
3      Yugoslavia         YUG
4   United States         USA

                                         description  \
0  Károly Teppert started competing in cycling in...
1                                                 na
2                                                 na
3                                                 na
4                                                 na

                                       special_notes
0                                                 na
1  Listed in Olympians Who Won a Medal at the Wor...
2                                                 na
3  Listed in Olympians Who Won a Medal at the Eur...
4                                                 na

### Look at the descriptives: .describe()
- What is the min, max, mean?
- Can you detect outliers?
- How many categories for the categorical features?

In [15]:
print(athletes[['athlete_id']].describe())

         athlete_id
count  1.550310e+05
mean   1.489261e+05
std    3.027535e+05
min    1.000000e+00
25%    3.906650e+04
50%    7.811300e+04
75%    1.183005e+05
max    2.200000e+07

In [16]:
print(athletes[['name']].describe())

               name
count        155031
unique       151955
top     Ivan Ivanov
freq             13

In [17]:
print(athletes[['sex']].describe())

           sex
count   155031
unique       2
top       Male
freq    114755

In [18]:
print(athletes[['born']].describe())

          born
count   155031
unique   42129
top         na
freq      4284

In [19]:
print(athletes[['height']].describe())

        height
count   155031
unique      96
top         na
freq     50547

In [20]:
print(athletes[['weight']].describe())

        weight
count   155031
unique     573
top         na
freq     50547

In [21]:
print(athletes[['country']].describe())

               country
count           155031
unique             697
top      United States
freq             11649

In [22]:
print(athletes[['country_noc']].describe())

       country_noc
count       155031
unique         232
top            USA
freq         11651

In [23]:
print(athletes[['description']].describe())

       description
count       155031
unique       50269
top             na
freq        103749

In [24]:
print(athletes[['special_notes']].describe())

       special_notes
count         155031
unique         52963
top               na
freq           94638

### iloc (deprecated?)
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html

In [25]:
print(athletes.iloc[:].describe(include="all"))

          athlete_id         name     sex    born  height  weight  \
count   1.550310e+05       155031  155031  155031  155031  155031
unique           NaN       151955       2   42129      96     573
top              NaN  Ivan Ivanov    Male      na      na      na
freq             NaN           13  114755    4284   50547   50547
mean    1.489261e+05          NaN     NaN     NaN     NaN     NaN
std     3.027535e+05          NaN     NaN     NaN     NaN     NaN
min     1.000000e+00          NaN     NaN     NaN     NaN     NaN
25%     3.906650e+04          NaN     NaN     NaN     NaN     NaN
50%     7.811300e+04          NaN     NaN     NaN     NaN     NaN
75%     1.183005e+05          NaN     NaN     NaN     NaN     NaN
max     2.200000e+07          NaN     NaN     NaN     NaN     NaN

               country country_noc description special_notes
count           155031      155031      155031        155031
unique             697         232       50269         52963
top      United States         USA          na            na
freq             11649       11651      103749         94638
mean               NaN         NaN         NaN           NaN
std                NaN         NaN         NaN           NaN
min                NaN         NaN         NaN           NaN
25%                NaN         NaN         NaN           NaN
50%                NaN         NaN         NaN           NaN
75%                NaN         NaN         NaN           NaN
max                NaN         NaN         NaN           NaN

### Other interesting methods: 
- .value_counts()
    - How many unique values for the categorical features? 
- .agg()
    - Combines different statistic values

In [26]:
print(athletes[['name']].value_counts() )

name
Ivan Ivanov           13
José García            9
José González          9
Luis López             9
José Pérez             8
                      ..
Gustav Weinkötz        1
Gustav Zinke           1
Gustav Östling         1
Gustav-Adolf Moths     1
Аlex Halcheniuk        1
Name: count, Length: 151955, dtype: int64

## Exploring the NA's

In [27]:
print("== athlete_id ==");
print(athletes[athletes['athlete_id'] == 'na'])
print("\n== name ==");
print(athletes[athletes['name'] == 'na'])
print("\n== sex ==")
print(athletes[athletes['sex'] == 'na'])
print("\n== born ==")
print(athletes[athletes['born'] == 'na'])
print("\n== height ==")
print(athletes[athletes['height'] == 'na'])
print("\n== weight ==")
print(athletes[athletes['weight'] == 'na'])
print("\n== country ==")
print(athletes[athletes['country'] == 'na'])
print("\n== country_noc ==")
print(athletes[athletes['country_noc'] == 'na'])
print("\n== description ==")
print(athletes[athletes['description'] == 'na'])
print("\n== special_notes ==")
print(athletes[athletes['special_notes'] == 'na'])

== athlete_id ==
Empty DataFrame
Columns: [athlete_id, name, sex, born, height, weight, country, country_noc, description, special_notes]
Index: []

== name ==
Empty DataFrame
Columns: [athlete_id, name, sex, born, height, weight, country, country_noc, description, special_notes]
Index: []

== sex ==
Empty DataFrame
Columns: [athlete_id, name, sex, born, height, weight, country, country_noc, description, special_notes]
Index: []

== born ==
        athlete_id                name   sex born height weight  \
12           35720       Achille Mengé  Male   na     na     na
28         1805042     Adolf Hammacher  Male   na     na     na
33           80268          G. Bessing  Male   na     na     na
109          22721  Aristide Pontenani  Male   na     na     na
112        1005156     Nikola Dimitrov  Male   na     na     na
...            ...                 ...   ...  ...    ...    ...
154899      922978            M. Jirda  Male   na     na     na
154903      892281         E. E. Parry  Male   na     na     na
154905      890604             Ermolli  Male   na     na     na
154970      890298       Émile Charvin  Male   na     na     na
155007      900724       Karel Steiner  Male   na     na     na

                country country_noc description special_notes
12              Belgium         BEL          na            na
28              Germany         GER          na            na
33               France         FRA          na            na
109               Italy         ITA          na            na
112            Bulgaria         BUL          na            na
...                 ...         ...         ...           ...
154899   Czechoslovakia         TCH          na            na
154903    United States         USA          na            na
154905            Italy         ITA          na            na
154970           France         FRA          na            na
155007   Czechoslovakia         TCH          na            na

[4284 rows x 10 columns]

== height ==
        athlete_id                        name     sex        born height  \
0            16809              Károly Teppert    Male  1891-07-20     na
6            24791                 Saad Rashed    Male  1928-11-20     na
9            74076            Hassan Illiassou    Male  1966-09-22     na
12           35720               Achille Mengé    Male          na     na
14          142137      Nanna Skodborg Merrald  Female  1993-10-08     na
...            ...                         ...     ...         ...    ...
155013       19515               Jo Myeong-Jun    Male  1970-07-29     na
155014       25572      Ioannis Andrianopoulos    Male  1900-01-01     na
155018       51182             Frances Schroth  Female  1893-04-11     na
155019      146786         Gabriel Gerald Geay    Male  1996-09-10     na
155027      701697  Hendrik Mangelaar Meertens    Male  1908-09-30     na

       weight                                         country country_noc  \
0          na                                         Hungary         HUN
6          na                                           Egypt         EGY
9          na                                           Niger         NIG
12         na                                         Belgium         BEL
14         na                                         Denmark         DEN
...       ...                                             ...         ...
155013     na   People's Republic of China  Republic of Korea         CHN
155014     na                                          Greece         GRE
155018     na                                   United States         USA
155019     na                     United Republic of Tanzania         TAN
155027     na                                     Netherlands         NED

                                              description  \
0       Károly Teppert started competing in cycling in...
6                                                      na
9                       Personal Best: 100 – 10.3 (1994).
12                                                     na
14                                                     na
...                                                   ...
155013                                                 na
155014                                                 na
155018  Mrs. Frances Schroth, from Oakland, California...
155019                                                 na
155027  Hendrik Mangelaar Meertens, usually known as “...

                                            special_notes
0                                                      na
6       Listed in Olympians Who Won a Medal at the Med...
9                                                      na
12                                                     na
14                                                     na
...                                                   ...
155013  Listed in Olympians Who Won a Medal at the Asi...
155014                 Brother of Georgios Andrianopoulos
155018  Wife of George Schroth Listed in Olympians Who...
155019                                                 na
155027  Listed in Olympians Who Were Killed or Missing...

[50547 rows x 10 columns]

== weight ==
        athlete_id                        name     sex        born height  \
0            16809              Károly Teppert    Male  1891-07-20     na
6            24791                 Saad Rashed    Male  1928-11-20     na
9            74076            Hassan Illiassou    Male  1966-09-22     na
12           35720               Achille Mengé    Male          na     na
14          142137      Nanna Skodborg Merrald  Female  1993-10-08     na
...            ...                         ...     ...         ...    ...
155013       19515               Jo Myeong-Jun    Male  1970-07-29     na
155014       25572      Ioannis Andrianopoulos    Male  1900-01-01     na
155018       51182             Frances Schroth  Female  1893-04-11     na
155019      146786         Gabriel Gerald Geay    Male  1996-09-10     na
155027      701697  Hendrik Mangelaar Meertens    Male  1908-09-30     na

       weight                                         country country_noc  \
0          na                                         Hungary         HUN
6          na                                           Egypt         EGY
9          na                                           Niger         NIG
12         na                                         Belgium         BEL
14         na                                         Denmark         DEN
...       ...                                             ...         ...
155013     na   People's Republic of China  Republic of Korea         CHN
155014     na                                          Greece         GRE
155018     na                                   United States         USA
155019     na                     United Republic of Tanzania         TAN
155027     na                                     Netherlands         NED

                                              description  \
0       Károly Teppert started competing in cycling in...
6                                                      na
9                       Personal Best: 100 – 10.3 (1994).
12                                                     na
14                                                     na
...                                                   ...
155013                                                 na
155014                                                 na
155018  Mrs. Frances Schroth, from Oakland, California...
155019                                                 na
155027  Hendrik Mangelaar Meertens, usually known as “...

                                            special_notes
0                                                      na
6       Listed in Olympians Who Won a Medal at the Med...
9                                                      na
12                                                     na
14                                                     na
...                                                   ...
155013  Listed in Olympians Who Won a Medal at the Asi...
155014                 Brother of Georgios Andrianopoulos
155018  Wife of George Schroth Listed in Olympians Who...
155019                                                 na
155027  Listed in Olympians Who Were Killed or Missing...

[50547 rows x 10 columns]

== country ==
Empty DataFrame
Columns: [athlete_id, name, sex, born, height, weight, country, country_noc, description, special_notes]
Index: []

== country_noc ==
Empty DataFrame
Columns: [athlete_id, name, sex, born, height, weight, country, country_noc, description, special_notes]
Index: []

== description ==
        athlete_id                 name     sex        born height weight  \
1            43737    Andrzej Socharski    Male  1947-08-31  173.0     72
2            50147  Nathalie Wunderlich  Female  1971-06-03  170.0     50
3             5085           Miha Lokar    Male  1935-09-10  182.0     76
4           136329          Austin Hack    Male  1992-05-17  203.0    100
5            38633     Tsuneo Ogasawara    Male  1942-07-30  181.0     80
...            ...                  ...     ...         ...    ...    ...
155023      130844         Miyu Nagaoka  Female  1991-07-25  179.0     64
155024      102267    Leonīds Tambijevs    Male  1970-09-26  176.0     85
155026       25136         Jean Palluch    Male  1923-12-23  180.0     80
155028       11757        Jo Hyeong-Won    Male  1936-07-12  173.0     65
155029       21666          Raúl Maroto    Male  1965-09-05  190.0     76

                   country country_noc description  \
1                   Poland         POL          na
2              Switzerland         SUI          na
3               Yugoslavia         YUG          na
4            United States         USA          na
5                    Japan         JPN          na
...                    ...         ...         ...
155023               Japan         JPN          na
155024              Latvia         LAT          na
155026              France         FRA          na
155028   Republic of Korea         KOR          na
155029               Spain         ESP          na

                                            special_notes
1       Listed in Olympians Who Won a Medal at the Wor...
2                                                      na
3       Listed in Olympians Who Won a Medal at the Eur...
4                                                      na
5                                                      na
...                                                   ...
155023                                                 na
155024                                                 na
155026                                                 na
155028                                                 na
155029  Listed in Olympians Who Won a Medal at the Med...

[103749 rows x 10 columns]

== special_notes ==
        athlete_id                 name     sex        born height weight  \
0            16809       Károly Teppert    Male  1891-07-20     na     na
2            50147  Nathalie Wunderlich  Female  1971-06-03  170.0     50
4           136329          Austin Hack    Male  1992-05-17  203.0    100
5            38633     Tsuneo Ogasawara    Male  1942-07-30  181.0     80
7            77095       Fulgence Rwabu    Male  1947-11-23  165.0     51
...            ...                  ...     ...         ...    ...    ...
155024      102267    Leonīds Tambijevs    Male  1970-09-26  176.0     85
155025       74088       Oddrun Hokland  Female  1942-11-29  162.0     59
155026       25136         Jean Palluch    Male  1923-12-23  180.0     80
155028       11757        Jo Hyeong-Won    Male  1936-07-12  173.0     65
155030       72486       Shizo Kanakuri    Male  1891-08-20  170.0     64

                   country country_noc  \
0                  Hungary         HUN
2              Switzerland         SUI
4            United States         USA
5                    Japan         JPN
7                   Uganda         UGA
...                    ...         ...
155024              Latvia         LAT
155025              Norway         NOR
155026              France         FRA
155028   Republic of Korea         KOR
155030               Japan         JPN

                                              description special_notes
0       Károly Teppert started competing in cycling in...            na
2                                                      na            na
4                                                      na            na
5                                                      na            na
7                           Personal Best: Mar – unknown.            na
...                                                   ...           ...
155024                                                 na            na
155025  Personal Bests: LJ – 6.26 (1964); Pen – 4540 (...            na
155026                                                 na            na
155028                                                 na            na
155030  Kanakuri had a weak constitution as a child un...            na

[94638 rows x 10 columns]

### Duplicated names

In [49]:
print(athletes[athletes["name"].duplicated() == True].sort_values(by=['name']))

        athlete_id            name     sex          born height weight  \
146839        5413      Alessandra  Female    1973-12-02  200.0     85
110171      109555           Aline  Female    1982-07-06  180.0     71
43039       129263           Aline  Female    1989-04-15  162.0     60
90932      1005771          Amauri    Male    1932-05-19     na     na
122351      112066       Ana Paula  Female    1987-10-18  172.0     67
...            ...             ...     ...           ...    ...    ...
56938       123251     Óscar Muñoz    Male    1993-05-09  178.0     58
26292        24512     Óscar Muñoz    Male    1949-05-20  170.0     67
136368     1005440     Óscar Pérez    Male  (circa 1923)     na     na
32397       700994     Óscar Pérez    Male    1973-02-01  171.0     72
144815       87355  Ștefan Ionescu    Male    1935-02-17  167.0     76

           country country_noc description  \
146839      Brazil         BRA          na
110171      Brazil         BRA          na
43039       Brazil         BRA          na
90932       Brazil         BRA          na
122351      Brazil         BRA          na
...            ...         ...         ...
56938     Colombia         COL          na
26292     Colombia         COL          na
136368   Argentina         ARG          na
32397       Mexico         MEX          na
144815     Romania         ROU          na

                                            special_notes
146839  Listed in Olympians Who Won a Medal at the Bas...
110171  Listed in Olympians Who Participated in the 20...
43039                                                  na
90932                                                  na
122351  Listed in Olympians Who Won a Medal at the Sum...
...                                                   ...
56938   Listed in Olympians Who Won a Medal at the Cen...
26292                                                  na
136368                                                 na
32397   Listed in Olympians Who Won a Medal at the Sum...
144815                                                 na

[3076 rows x 10 columns]

In [51]:
print(athletes.to_datetime(athletes['born'], format='%y%m%d'))

AttributeError: 'DataFrame' object has no attribute 'to_datetime'