# Data Exploration

## Countries

In [91]:
import pandas as pd
countries = pd.read_csv("../dataset/Olympics_Country.csv")
countries

    country_noc                    country
0           AFG                Afghanistan
1           ALB                    Albania
2           ALG                    Algeria
3           ASA             American Samoa
4           AND                    Andorra
..          ...                        ...
229         YEM                      Yemen
230         YUG                 Yugoslavia
231         ZAM                     Zambia
232         ZIM                   Zimbabwe
233         ROC  Russian Olympic Committee

[234 rows x 2 columns]

In [92]:
print(countries.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country_noc  234 non-null    object
 1   country      234 non-null    object
dtypes: object(2)
memory usage: 3.8+ KB
None

## Games
### Games

In [93]:
games = pd.read_csv("../dataset/Olympics_Games.csv")
games

,edition,edition_id,edition_url,year,city,country_flag_url,country_noc,start_date,end_date,competition_date,isHeld
0,1896 Summer Olympics,1,/editions/1,1896,Athina,/images/flags/GRE.png,GRE,6 April,15 April,6 – 13 April,NaN
1,1900 Summer Olympics,2,/editions/2,1900,Paris,/images/flags/FRA.png,FRA,NaN,NaN,14 May – 28 October,NaN
2,1904 Summer Olympics,3,/editions/3,1904,St. Louis,/images/flags/USA.png,USA,14 May,NaN,1 July – 26 November,NaN
3,1908 Summer Olympics,5,/editions/5,1908,London,/images/flags/GBR.png,GBR,13 July,NaN,27 April – 31 October,NaN
4,1912 Summer Olympics,6,/editions/6,1912,Stockholm,/images/flags/SWE.png,SWE,6 July,27 July,5 May – 27 July,NaN
...,...,...,...,...,...,...,...,...,...,...,...
59,2018 Winter Olympics,60,/editions/60,2018,PyeongChang,/images/flags/KOR.png,KOR,9 February,25 February,8 – 25 February,NaN
60,2022 Winter Olympics,62,/editions/62,2022,Beijing,/images/flags/CHN.png,CHN,4 February,20 February,2 – 20 February,NaN
61,2026 Winter Olympics,72,/editions/72,2026,Milano-Cortina d'Ampezzo,/images/flags/ITA.png,ITA,6 February,22 February,4 – 22 February,NaN
62,1956 Equestrian,48,/editions/48,1956,Stockholm,/images/flags/SWE.png,SWE,10 June,17 June,11 – 17 June,NaN
63,1906 Intercalated,4,/editions/4,1906,Athina,/images/flags/GRE.png,GRE,22 April,2 May,22 April – 2 May,NaN

In [94]:
print(games.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   edition           64 non-null     object
 1   edition_id        64 non-null     int64
 2   edition_url       64 non-null     object
 3   year              64 non-null     int64
 4   city              64 non-null     object
 5   country_flag_url  64 non-null     object
 6   country_noc       64 non-null     object
 7   start_date        55 non-null     object
 8   end_date          53 non-null     object
 9   competition_date  64 non-null     object
 10  isHeld            5 non-null      object
dtypes: int64(2), object(9)
memory usage: 5.6+ KB
None

#### `isHeld` exploration

In [95]:
nan_count = games['isHeld'].isna().sum()
print("Number of NaN's: " + str(nan_count))

not_nan_count = len(games) - nan_count
print("Number of no NaN's: " + str(not_nan_count))

Number of NaN's: 59
Number of no NaN's: 5

### Games Medal Tally

In [96]:
gamesMedalTally = pd.read_csv("../dataset/Olympic_Games_Medal_Tally.csv")
gamesMedalTally

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
0,1896 Summer Olympics,1,1896,United States,USA,11,7,2,20
1,1896 Summer Olympics,1,1896,Greece,GRE,10,18,19,47
2,1896 Summer Olympics,1,1896,Germany,GER,6,5,2,13
3,1896 Summer Olympics,1,1896,France,FRA,5,4,2,11
4,1896 Summer Olympics,1,1896,Great Britain,GBR,2,3,2,7
...,...,...,...,...,...,...,...,...,...
1802,1906 Intercalated,4,1906,Canada,CAN,1,1,0,2
1803,1906 Intercalated,4,1906,Norway,NOR,1,1,0,2
1804,1906 Intercalated,4,1906,Netherlands,NED,0,1,2,3
1805,1906 Intercalated,4,1906,Australia,AUS,0,0,3,3
1806,1906 Intercalated,4,1906,Bohemia,BOH,0,0,2,2

In [97]:
print(gamesMedalTally.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1807 entries, 0 to 1806
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   edition      1807 non-null   object
 1   edition_id   1807 non-null   int64
 2   year         1807 non-null   int64
 3   country      1807 non-null   object
 4   country_noc  1807 non-null   object
 5   gold         1807 non-null   int64
 6   silver       1807 non-null   int64
 7   bronze       1807 non-null   int64
 8   total        1807 non-null   int64
dtypes: int64(6), object(3)
memory usage: 127.2+ KB
None

## Athletes
### Athlete Bio

In [98]:

athletes = pd.read_csv("../dataset/Olympic_Athlete_Bio.csv")
athletesSource = athletes

In [99]:
print(athletes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155031 entries, 0 to 155030
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   athlete_id     155031 non-null  int64
 1   name           155031 non-null  object
 2   sex            155031 non-null  object
 3   born           155031 non-null  object
 4   height         155031 non-null  object
 5   weight         155031 non-null  object
 6   country        155031 non-null  object
 7   country_noc    155031 non-null  object
 8   description    155031 non-null  object
 9   special_notes  155031 non-null  object
dtypes: int64(1), object(9)
memory usage: 11.8+ MB
None

#### Height and weight checks and validations for BMI calculation

- Weight == na

In [100]:
naWeightAthletes = athletes[(athletes['weight'] == 'na')]
naWeightAthletes

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
0,16809,Károly Teppert,Male,1891-07-20,na,na,Hungary,HUN,Károly Teppert started competing in cycling in...,na
6,24791,Saad Rashed,Male,1928-11-20,na,na,Egypt,EGY,na,Listed in Olympians Who Won a Medal at the Med...
9,74076,Hassan Illiassou,Male,1966-09-22,na,na,Niger,NIG,Personal Best: 100 – 10.3 (1994).,na
12,35720,Achille Mengé,Male,na,na,na,Belgium,BEL,na,na
14,142137,Nanna Skodborg Merrald,Female,1993-10-08,na,na,Denmark,DEN,na,na
...,...,...,...,...,...,...,...,...,...,...
155013,19515,Jo Myeong-Jun,Male,1970-07-29,na,na,People's Republic of China Republic of Korea,CHN,na,Listed in Olympians Who Won a Medal at the Asi...
155014,25572,Ioannis Andrianopoulos,Male,1900-01-01,na,na,Greece,GRE,na,Brother of Georgios Andrianopoulos
155018,51182,Frances Schroth,Female,1893-04-11,na,na,United States,USA,"Mrs. Frances Schroth, from Oakland, California...",Wife of George Schroth Listed in Olympians Who...
155019,146786,Gabriel Gerald Geay,Male,1996-09-10,na,na,United Republic of Tanzania,TAN,na,na
155027,701697,Hendrik Mangelaar Meertens,Male,1908-09-30,na,na,Netherlands,NED,"Hendrik Mangelaar Meertens, usually known as “...",Listed in Olympians Who Were Killed or Missing...

- Height == na

In [101]:
naHeightAthletes = athletes[(athletes['height'] == 'na')]
naHeightAthletes

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
0,16809,Károly Teppert,Male,1891-07-20,na,na,Hungary,HUN,Károly Teppert started competing in cycling in...,na
6,24791,Saad Rashed,Male,1928-11-20,na,na,Egypt,EGY,na,Listed in Olympians Who Won a Medal at the Med...
9,74076,Hassan Illiassou,Male,1966-09-22,na,na,Niger,NIG,Personal Best: 100 – 10.3 (1994).,na
12,35720,Achille Mengé,Male,na,na,na,Belgium,BEL,na,na
14,142137,Nanna Skodborg Merrald,Female,1993-10-08,na,na,Denmark,DEN,na,na
...,...,...,...,...,...,...,...,...,...,...
155013,19515,Jo Myeong-Jun,Male,1970-07-29,na,na,People's Republic of China Republic of Korea,CHN,na,Listed in Olympians Who Won a Medal at the Asi...
155014,25572,Ioannis Andrianopoulos,Male,1900-01-01,na,na,Greece,GRE,na,Brother of Georgios Andrianopoulos
155018,51182,Frances Schroth,Female,1893-04-11,na,na,United States,USA,"Mrs. Frances Schroth, from Oakland, California...",Wife of George Schroth Listed in Olympians Who...
155019,146786,Gabriel Gerald Geay,Male,1996-09-10,na,na,United Republic of Tanzania,TAN,na,na
155027,701697,Hendrik Mangelaar Meertens,Male,1908-09-30,na,na,Netherlands,NED,"Hendrik Mangelaar Meertens, usually known as “...",Listed in Olympians Who Were Killed or Missing...

- Height == na AND Weight == na

In [102]:
naHeightAndWeigthAthletes = athletes[(athletes['height'] == 'na') & (athletes['weight'] == 'na')]
naHeightAndWeigthAthletes

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
0,16809,Károly Teppert,Male,1891-07-20,na,na,Hungary,HUN,Károly Teppert started competing in cycling in...,na
6,24791,Saad Rashed,Male,1928-11-20,na,na,Egypt,EGY,na,Listed in Olympians Who Won a Medal at the Med...
9,74076,Hassan Illiassou,Male,1966-09-22,na,na,Niger,NIG,Personal Best: 100 – 10.3 (1994).,na
12,35720,Achille Mengé,Male,na,na,na,Belgium,BEL,na,na
14,142137,Nanna Skodborg Merrald,Female,1993-10-08,na,na,Denmark,DEN,na,na
...,...,...,...,...,...,...,...,...,...,...
155013,19515,Jo Myeong-Jun,Male,1970-07-29,na,na,People's Republic of China Republic of Korea,CHN,na,Listed in Olympians Who Won a Medal at the Asi...
155014,25572,Ioannis Andrianopoulos,Male,1900-01-01,na,na,Greece,GRE,na,Brother of Georgios Andrianopoulos
155018,51182,Frances Schroth,Female,1893-04-11,na,na,United States,USA,"Mrs. Frances Schroth, from Oakland, California...",Wife of George Schroth Listed in Olympians Who...
155019,146786,Gabriel Gerald Geay,Male,1996-09-10,na,na,United Republic of Tanzania,TAN,na,na
155027,701697,Hendrik Mangelaar Meertens,Male,1908-09-30,na,na,Netherlands,NED,"Hendrik Mangelaar Meertens, usually known as “...",Listed in Olympians Who Were Killed or Missing...

- Not all athletes have a numeric weight value

In [103]:
nonNaAthletes = athletes[(athletes['height'] != 'na') & (athletes['weight'] != 'na')]
nonNumericWeights = nonNaAthletes[~nonNaAthletes['weight'].str.isnumeric()]
nonNumericWeights

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
238,111977,Amandine Leynaud,Female,1986-05-02,178.0,64-69,France,FRA,na,na
243,55798,Helmut Losch,Male,1947-10-12,179.0,106-111,East Germany,GDR,Heavyweight lifter Helmut Losch finished fourt...,na
969,36773,Väinö Huhtala,Male,1934-06-23,181.0,80-82,Finland,FIN,na,na
990,92148,Pekka Marjamäki,Male,1947-12-18,186.0,88-96,Finland,FIN,na,na
994,131582,Darya Dmitriyeva,Female,1995-08-09,178.0,71-74,ROC Russian Federation,ROC,na,na
...,...,...,...,...,...,...,...,...,...,...
154451,2957,Kalevi Marjamaa,Male,1953-01-29,180.0,63-71,Finland,FIN,na,Brother-in-law of Helinä Laihorinne-Marjamaa
154481,17225,Sixten Wackström,Male,1960-08-02,180.0,76-77,Finland,FIN,In addition to his two Olympics appearances in...,Son of Ole Wackström Brother of Patrick Wackström
154519,95363,Anssi Melametsä,Male,1961-06-21,183.0,85-88,Finland,FIN,na,Listed in Olympians Who Won a Medal at the Eur...
154731,87275,Ensio Hyytiä,Male,1938-03-24,180.0,79-81,Finland,FIN,na,Listed in Olympians Who Won a Medal at the Wor...
154871,87273,Erkki Hytönen,Male,1933-05-27,182.0,88-90,Finland,FIN,"A 1952 ice hockey Winter Olympian for Finland,...",na

- Height value is not numeric, so convert it to numeric. If value contains non-numeric values, those will be converted to NaN

In [104]:
athletes['height'] = pd.to_numeric(athletes['height'], errors='coerce')

- Weight value is not numeric, so convert it to numeric. If value contains non-numeric values, those will be converted to NaN. There are some values like `55 - 57`, those will be changed to NaN.

In [105]:
athletes['weight'] = pd.to_numeric(athletes['weight'], errors='coerce')

- Remove all the records with `NaN` in height or weight

In [106]:
filteredAthletes = athletes.dropna(subset = ['weight', 'height'])
filteredAthletes

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
1,43737,Andrzej Socharski,Male,1947-08-31,173.0,72.0,Poland,POL,na,Listed in Olympians Who Won a Medal at the Wor...
2,50147,Nathalie Wunderlich,Female,1971-06-03,170.0,50.0,Switzerland,SUI,na,na
3,5085,Miha Lokar,Male,1935-09-10,182.0,76.0,Yugoslavia,YUG,na,Listed in Olympians Who Won a Medal at the Eur...
4,136329,Austin Hack,Male,1992-05-17,203.0,100.0,United States,USA,na,na
5,38633,Tsuneo Ogasawara,Male,1942-07-30,181.0,80.0,Japan,JPN,na,na
...,...,...,...,...,...,...,...,...,...,...
155025,74088,Oddrun Hokland,Female,1942-11-29,162.0,59.0,Norway,NOR,Personal Bests: LJ – 6.26 (1964); Pen – 4540 (...,na
155026,25136,Jean Palluch,Male,1923-12-23,180.0,80.0,France,FRA,na,na
155028,11757,Jo Hyeong-Won,Male,1936-07-12,173.0,65.0,Republic of Korea,KOR,na,na
155029,21666,Raúl Maroto,Male,1965-09-05,190.0,76.0,Spain,ESP,na,Listed in Olympians Who Won a Medal at the Med...
155030,72486,Shizo Kanakuri,Male,1891-08-20,170.0,64.0,Japan,JPN,Kanakuri had a weak constitution as a child un...,na

#### Conclusions

In [107]:
print("There are " + str(len(athletesSource)) + " athletes")
print("There are " + str(len(naWeightAthletes)) + " athletes, with na as weight")
print("There are " + str(len(naHeightAthletes)) + " athletes, with na as height")
print("There are " + str(len(naHeightAndWeigthAthletes)) + " athletes, with na as height AND na as weight")
print("There are " + str(len(nonNumericWeights)) + " athletes with a non numeric value for their weight")
print("There are " + str(len(filteredAthletes)) + " athletes with a that can be used to calculate their BMI")

There are 155031 athletes
There are 50547 athletes, with na as weight
There are 50547 athletes, with na as height
There are 50547 athletes, with na as height AND na as weight
There are 955 athletes with a non numeric value for their weight
There are 103529 athletes with a that can be used to calculate their BMI

### Athlete Event Results

In [ ]:
athleteEventResults = pd.read_csv("../dataset/Olympic_Athlete_Event_Results.csv")
athleteEventResults

In [ ]:
print(athleteEventResults.info())

## Results
### Results

In [ ]:
results = pd.read_csv("../dataset/Olympic_Results.csv")
results

In [ ]:
print(results.info())