# Data Exploration

## Countries

In [53]:
import pandas as pd
countries = pd.read_csv("../dataset/Olympics_Country.csv")
countries

    country_noc                    country
0           AFG                Afghanistan
1           ALB                    Albania
2           ALG                    Algeria
3           ASA             American Samoa
4           AND                    Andorra
..          ...                        ...
229         YEM                      Yemen
230         YUG                 Yugoslavia
231         ZAM                     Zambia
232         ZIM                   Zimbabwe
233         ROC  Russian Olympic Committee

[234 rows x 2 columns]

In [54]:
print(countries.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country_noc  234 non-null    object
 1   country      234 non-null    object
dtypes: object(2)
memory usage: 3.8+ KB
None

## Games
### Games

In [55]:
games = pd.read_csv("../dataset/Olympics_Games.csv")
games

,edition,edition_id,edition_url,year,city,country_flag_url,country_noc,start_date,end_date,competition_date,isHeld
0,1896 Summer Olympics,1,/editions/1,1896,Athina,/images/flags/GRE.png,GRE,6 April,15 April,6 – 13 April,NaN
1,1900 Summer Olympics,2,/editions/2,1900,Paris,/images/flags/FRA.png,FRA,NaN,NaN,14 May – 28 October,NaN
2,1904 Summer Olympics,3,/editions/3,1904,St. Louis,/images/flags/USA.png,USA,14 May,NaN,1 July – 26 November,NaN
3,1908 Summer Olympics,5,/editions/5,1908,London,/images/flags/GBR.png,GBR,13 July,NaN,27 April – 31 October,NaN
4,1912 Summer Olympics,6,/editions/6,1912,Stockholm,/images/flags/SWE.png,SWE,6 July,27 July,5 May – 27 July,NaN
...,...,...,...,...,...,...,...,...,...,...,...
59,2018 Winter Olympics,60,/editions/60,2018,PyeongChang,/images/flags/KOR.png,KOR,9 February,25 February,8 – 25 February,NaN
60,2022 Winter Olympics,62,/editions/62,2022,Beijing,/images/flags/CHN.png,CHN,4 February,20 February,2 – 20 February,NaN
61,2026 Winter Olympics,72,/editions/72,2026,Milano-Cortina d'Ampezzo,/images/flags/ITA.png,ITA,6 February,22 February,4 – 22 February,NaN
62,1956 Equestrian,48,/editions/48,1956,Stockholm,/images/flags/SWE.png,SWE,10 June,17 June,11 – 17 June,NaN
63,1906 Intercalated,4,/editions/4,1906,Athina,/images/flags/GRE.png,GRE,22 April,2 May,22 April – 2 May,NaN

In [56]:
print(games.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   edition           64 non-null     object
 1   edition_id        64 non-null     int64
 2   edition_url       64 non-null     object
 3   year              64 non-null     int64
 4   city              64 non-null     object
 5   country_flag_url  64 non-null     object
 6   country_noc       64 non-null     object
 7   start_date        55 non-null     object
 8   end_date          53 non-null     object
 9   competition_date  64 non-null     object
 10  isHeld            5 non-null      object
dtypes: int64(2), object(9)
memory usage: 5.6+ KB
None

#### `isHeld` exploration

In [57]:
nan_count = games['isHeld'].isna().sum()
print("Number of NaN's: " + str(nan_count))

not_nan_count = len(games) - nan_count
print("Number of no NaN's: " + str(not_nan_count))

Number of NaN's: 59
Number of no NaN's: 5

### Games Medal Tally

In [58]:
gamesMedalTally = pd.read_csv("../dataset/Olympic_Games_Medal_Tally.csv")
gamesMedalTally

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
0,1896 Summer Olympics,1,1896,United States,USA,11,7,2,20
1,1896 Summer Olympics,1,1896,Greece,GRE,10,18,19,47
2,1896 Summer Olympics,1,1896,Germany,GER,6,5,2,13
3,1896 Summer Olympics,1,1896,France,FRA,5,4,2,11
4,1896 Summer Olympics,1,1896,Great Britain,GBR,2,3,2,7
...,...,...,...,...,...,...,...,...,...
1802,1906 Intercalated,4,1906,Canada,CAN,1,1,0,2
1803,1906 Intercalated,4,1906,Norway,NOR,1,1,0,2
1804,1906 Intercalated,4,1906,Netherlands,NED,0,1,2,3
1805,1906 Intercalated,4,1906,Australia,AUS,0,0,3,3
1806,1906 Intercalated,4,1906,Bohemia,BOH,0,0,2,2

In [59]:
print(gamesMedalTally.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1807 entries, 0 to 1806
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   edition      1807 non-null   object
 1   edition_id   1807 non-null   int64
 2   year         1807 non-null   int64
 3   country      1807 non-null   object
 4   country_noc  1807 non-null   object
 5   gold         1807 non-null   int64
 6   silver       1807 non-null   int64
 7   bronze       1807 non-null   int64
 8   total        1807 non-null   int64
dtypes: int64(6), object(3)
memory usage: 127.2+ KB
None

## Athletes
### Athlete Bio

In [60]:

athletes = pd.read_csv("../dataset/Olympic_Athlete_Bio.csv")
athletesSource = athletes

In [61]:
print(athletes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155031 entries, 0 to 155030
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   athlete_id     155031 non-null  int64
 1   name           155031 non-null  object
 2   sex            155031 non-null  object
 3   born           155031 non-null  object
 4   height         155031 non-null  object
 5   weight         155031 non-null  object
 6   country        155031 non-null  object
 7   country_noc    155031 non-null  object
 8   description    155031 non-null  object
 9   special_notes  155031 non-null  object
dtypes: int64(1), object(9)
memory usage: 11.8+ MB
None

#### Height and weight checks and validations for BMI calculation

- Weight == na

In [62]:
naWeightAthletes = athletes[(athletes['weight'] == 'na')]
naWeightAthletes

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
0,16809,Károly Teppert,Male,1891-07-20,na,na,Hungary,HUN,Károly Teppert started competing in cycling in...,na
6,24791,Saad Rashed,Male,1928-11-20,na,na,Egypt,EGY,na,Listed in Olympians Who Won a Medal at the Med...
9,74076,Hassan Illiassou,Male,1966-09-22,na,na,Niger,NIG,Personal Best: 100 – 10.3 (1994).,na
12,35720,Achille Mengé,Male,na,na,na,Belgium,BEL,na,na
14,142137,Nanna Skodborg Merrald,Female,1993-10-08,na,na,Denmark,DEN,na,na
...,...,...,...,...,...,...,...,...,...,...
155013,19515,Jo Myeong-Jun,Male,1970-07-29,na,na,People's Republic of China Republic of Korea,CHN,na,Listed in Olympians Who Won a Medal at the Asi...
155014,25572,Ioannis Andrianopoulos,Male,1900-01-01,na,na,Greece,GRE,na,Brother of Georgios Andrianopoulos
155018,51182,Frances Schroth,Female,1893-04-11,na,na,United States,USA,"Mrs. Frances Schroth, from Oakland, California...",Wife of George Schroth Listed in Olympians Who...
155019,146786,Gabriel Gerald Geay,Male,1996-09-10,na,na,United Republic of Tanzania,TAN,na,na
155027,701697,Hendrik Mangelaar Meertens,Male,1908-09-30,na,na,Netherlands,NED,"Hendrik Mangelaar Meertens, usually known as “...",Listed in Olympians Who Were Killed or Missing...

- Height == na

In [63]:
naHeightAthletes = athletes[(athletes['height'] == 'na')]
naHeightAthletes

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
0,16809,Károly Teppert,Male,1891-07-20,na,na,Hungary,HUN,Károly Teppert started competing in cycling in...,na
6,24791,Saad Rashed,Male,1928-11-20,na,na,Egypt,EGY,na,Listed in Olympians Who Won a Medal at the Med...
9,74076,Hassan Illiassou,Male,1966-09-22,na,na,Niger,NIG,Personal Best: 100 – 10.3 (1994).,na
12,35720,Achille Mengé,Male,na,na,na,Belgium,BEL,na,na
14,142137,Nanna Skodborg Merrald,Female,1993-10-08,na,na,Denmark,DEN,na,na
...,...,...,...,...,...,...,...,...,...,...
155013,19515,Jo Myeong-Jun,Male,1970-07-29,na,na,People's Republic of China Republic of Korea,CHN,na,Listed in Olympians Who Won a Medal at the Asi...
155014,25572,Ioannis Andrianopoulos,Male,1900-01-01,na,na,Greece,GRE,na,Brother of Georgios Andrianopoulos
155018,51182,Frances Schroth,Female,1893-04-11,na,na,United States,USA,"Mrs. Frances Schroth, from Oakland, California...",Wife of George Schroth Listed in Olympians Who...
155019,146786,Gabriel Gerald Geay,Male,1996-09-10,na,na,United Republic of Tanzania,TAN,na,na
155027,701697,Hendrik Mangelaar Meertens,Male,1908-09-30,na,na,Netherlands,NED,"Hendrik Mangelaar Meertens, usually known as “...",Listed in Olympians Who Were Killed or Missing...

- Height == na AND Weight == na

In [64]:
naHeightAndWeigthAthletes = athletes[(athletes['height'] == 'na') & (athletes['weight'] == 'na')]
naHeightAndWeigthAthletes

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
0,16809,Károly Teppert,Male,1891-07-20,na,na,Hungary,HUN,Károly Teppert started competing in cycling in...,na
6,24791,Saad Rashed,Male,1928-11-20,na,na,Egypt,EGY,na,Listed in Olympians Who Won a Medal at the Med...
9,74076,Hassan Illiassou,Male,1966-09-22,na,na,Niger,NIG,Personal Best: 100 – 10.3 (1994).,na
12,35720,Achille Mengé,Male,na,na,na,Belgium,BEL,na,na
14,142137,Nanna Skodborg Merrald,Female,1993-10-08,na,na,Denmark,DEN,na,na
...,...,...,...,...,...,...,...,...,...,...
155013,19515,Jo Myeong-Jun,Male,1970-07-29,na,na,People's Republic of China Republic of Korea,CHN,na,Listed in Olympians Who Won a Medal at the Asi...
155014,25572,Ioannis Andrianopoulos,Male,1900-01-01,na,na,Greece,GRE,na,Brother of Georgios Andrianopoulos
155018,51182,Frances Schroth,Female,1893-04-11,na,na,United States,USA,"Mrs. Frances Schroth, from Oakland, California...",Wife of George Schroth Listed in Olympians Who...
155019,146786,Gabriel Gerald Geay,Male,1996-09-10,na,na,United Republic of Tanzania,TAN,na,na
155027,701697,Hendrik Mangelaar Meertens,Male,1908-09-30,na,na,Netherlands,NED,"Hendrik Mangelaar Meertens, usually known as “...",Listed in Olympians Who Were Killed or Missing...

- Not all athletes have a numeric weight value

In [65]:
nonNaAthletes = athletes[(athletes['height'] != 'na') & (athletes['weight'] != 'na')]
nonNumericWeights = nonNaAthletes[~nonNaAthletes['weight'].str.isnumeric()]
nonNumericWeights

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
238,111977,Amandine Leynaud,Female,1986-05-02,178.0,64-69,France,FRA,na,na
243,55798,Helmut Losch,Male,1947-10-12,179.0,106-111,East Germany,GDR,Heavyweight lifter Helmut Losch finished fourt...,na
969,36773,Väinö Huhtala,Male,1934-06-23,181.0,80-82,Finland,FIN,na,na
990,92148,Pekka Marjamäki,Male,1947-12-18,186.0,88-96,Finland,FIN,na,na
994,131582,Darya Dmitriyeva,Female,1995-08-09,178.0,71-74,ROC Russian Federation,ROC,na,na
...,...,...,...,...,...,...,...,...,...,...
154451,2957,Kalevi Marjamaa,Male,1953-01-29,180.0,63-71,Finland,FIN,na,Brother-in-law of Helinä Laihorinne-Marjamaa
154481,17225,Sixten Wackström,Male,1960-08-02,180.0,76-77,Finland,FIN,In addition to his two Olympics appearances in...,Son of Ole Wackström Brother of Patrick Wackström
154519,95363,Anssi Melametsä,Male,1961-06-21,183.0,85-88,Finland,FIN,na,Listed in Olympians Who Won a Medal at the Eur...
154731,87275,Ensio Hyytiä,Male,1938-03-24,180.0,79-81,Finland,FIN,na,Listed in Olympians Who Won a Medal at the Wor...
154871,87273,Erkki Hytönen,Male,1933-05-27,182.0,88-90,Finland,FIN,"A 1952 ice hockey Winter Olympian for Finland,...",na

- Height value is not numeric, so convert it to numeric. If value contains non-numeric values, those will be converted to NaN

In [66]:
athletes['height'] = pd.to_numeric(athletes['height'], errors='coerce')

- Weight value is not numeric, so convert it to numeric. If value contains non-numeric values, those will be converted to NaN. There are some values like `55 - 57`, those will be changed to NaN.

In [67]:
athletes['weight'] = pd.to_numeric(athletes['weight'], errors='coerce')

- Remove all the records with `NaN` in height or weight

In [68]:
filteredAthletes = athletes.dropna(subset = ['weight', 'height'])
filteredAthletes

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
1,43737,Andrzej Socharski,Male,1947-08-31,173.0,72.0,Poland,POL,na,Listed in Olympians Who Won a Medal at the Wor...
2,50147,Nathalie Wunderlich,Female,1971-06-03,170.0,50.0,Switzerland,SUI,na,na
3,5085,Miha Lokar,Male,1935-09-10,182.0,76.0,Yugoslavia,YUG,na,Listed in Olympians Who Won a Medal at the Eur...
4,136329,Austin Hack,Male,1992-05-17,203.0,100.0,United States,USA,na,na
5,38633,Tsuneo Ogasawara,Male,1942-07-30,181.0,80.0,Japan,JPN,na,na
...,...,...,...,...,...,...,...,...,...,...
155025,74088,Oddrun Hokland,Female,1942-11-29,162.0,59.0,Norway,NOR,Personal Bests: LJ – 6.26 (1964); Pen – 4540 (...,na
155026,25136,Jean Palluch,Male,1923-12-23,180.0,80.0,France,FRA,na,na
155028,11757,Jo Hyeong-Won,Male,1936-07-12,173.0,65.0,Republic of Korea,KOR,na,na
155029,21666,Raúl Maroto,Male,1965-09-05,190.0,76.0,Spain,ESP,na,Listed in Olympians Who Won a Medal at the Med...
155030,72486,Shizo Kanakuri,Male,1891-08-20,170.0,64.0,Japan,JPN,Kanakuri had a weak constitution as a child un...,na

- Calculate BMI from each athlete

In [69]:
filteredAthletes.loc[:, 'bmi'] = round(filteredAthletes['weight'] / ((filteredAthletes['height'] / 100) ** 2), 2)
filteredAthletes

C:\Users\deboo\AppData\Local\Temp\ipykernel_55384\1073211933.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredAthletes.loc[:, 'bmi'] = round(filteredAthletes['weight'] / ((filteredAthletes['height'] / 100) ** 2), 2)

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes,bmi
1,43737,Andrzej Socharski,Male,1947-08-31,173.0,72.0,Poland,POL,na,Listed in Olympians Who Won a Medal at the Wor...,24.06
2,50147,Nathalie Wunderlich,Female,1971-06-03,170.0,50.0,Switzerland,SUI,na,na,17.30
3,5085,Miha Lokar,Male,1935-09-10,182.0,76.0,Yugoslavia,YUG,na,Listed in Olympians Who Won a Medal at the Eur...,22.94
4,136329,Austin Hack,Male,1992-05-17,203.0,100.0,United States,USA,na,na,24.27
5,38633,Tsuneo Ogasawara,Male,1942-07-30,181.0,80.0,Japan,JPN,na,na,24.42
...,...,...,...,...,...,...,...,...,...,...,...
155025,74088,Oddrun Hokland,Female,1942-11-29,162.0,59.0,Norway,NOR,Personal Bests: LJ – 6.26 (1964); Pen – 4540 (...,na,22.48
155026,25136,Jean Palluch,Male,1923-12-23,180.0,80.0,France,FRA,na,na,24.69
155028,11757,Jo Hyeong-Won,Male,1936-07-12,173.0,65.0,Republic of Korea,KOR,na,na,21.72
155029,21666,Raúl Maroto,Male,1965-09-05,190.0,76.0,Spain,ESP,na,Listed in Olympians Who Won a Medal at the Med...,21.05
155030,72486,Shizo Kanakuri,Male,1891-08-20,170.0,64.0,Japan,JPN,Kanakuri had a weak constitution as a child un...,na,22.15

- BMI information

In [70]:
filteredAthletes[['bmi']].describe()

                 bmi
count  103529.000000
mean       22.932284
std         2.992826
min         8.360000
25%        21.040000
50%        22.680000
75%        24.410000
max        56.500000

In [71]:

filteredAthletes[['bmi']].value_counts()

bmi
22.86    692
20.20    687
21.80    666
23.67    654
22.84    635
        ...
33.08      1
32.93      1
32.88      1
32.83      1
56.50      1
Name: count, Length: 1897, dtype: int64

- Outliers

In [89]:
import pandas as pd
athlete_event_results_for_outliers = pd.read_csv("../dataset/Olympic_Athlete_Event_Results.csv")

athletes_outlier = filteredAthletes[filteredAthletes['bmi'] < 10]

athletes_outlier_with_sport = athletes_outlier.merge(athlete_event_results_for_outliers[['athlete_id', 'sport', 'event']], on='athlete_id', how='left')

athletes_outlier_with_sport

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes,bmi,sport,event
0,27845,Al Zerhusen,Male,1931-12-04,183.0,28.0,United States,USA,Al Zerhusen learned to play soccer (football) ...,Listed in Olympians Who Participated in the 19...,8.36,Football,"Football, Men"

In [90]:
athletes_outlier = filteredAthletes[filteredAthletes['bmi'] > 50]

athletes_outlier_with_sport = athletes_outlier.merge(athlete_event_results_for_outliers[['athlete_id', 'sport', 'event']], on='athlete_id', how='left')

athletes_outlier_with_sport

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes,bmi,sport,event
0,104600,Olha Korobka,Female,1985-12-07,181.0,167.0,Ukraine,UKR,na,Listed in Doping Irregularities at the Olympic...,50.98,Weightlifting,"Super-Heavyweight, Women"
1,104600,Olha Korobka,Female,1985-12-07,181.0,167.0,Ukraine,UKR,na,Listed in Doping Irregularities at the Olympic...,50.98,Weightlifting,"Super-Heavyweight, Women"
2,126756,Holley Mangold,Female,1989-12-22,173.0,155.0,United States,USA,na,na,51.79,Weightlifting,"Super-Heavyweight, Women"
3,92442,Valentyn Rusliakov,Male,1972-02-03,187.0,180.0,Ukraine,UKR,na,Listed in Olympians Who Won a Medal at the Sum...,51.47,Judo,"Heavyweight, Men"
4,98181,Harry Taylor,Male,1924-03-12,161.0,138.0,Great Britain,GBR,"Harry Taylor, a Lancastrian from Blackpool, wa...",na,53.24,Alpine Skiing,"Downhill, Men"
5,98181,Harry Taylor,Male,1924-03-12,161.0,138.0,Great Britain,GBR,"Harry Taylor, a Lancastrian from Blackpool, wa...",na,53.24,Alpine Skiing,"Slalom, Men"
6,98181,Harry Taylor,Male,1924-03-12,161.0,138.0,Great Britain,GBR,"Harry Taylor, a Lancastrian from Blackpool, wa...",na,53.24,Alpine Skiing,"Combined, Men"
7,106726,Dmitry Nosov,Male,1980-04-09,176.0,175.0,Russian Federation,RUS,na,na,56.50,Judo,"Half-Middleweight, Men"
8,106778,Leonel Wilfredo Ruiz,Male,1975-07-27,187.0,178.0,Venezuela,VEN,na,Listed in Olympians Who Won a Medal at the Cen...,50.90,Judo,"Heavyweight, Men"

#### Conclusions

In [72]:
print("There are " + str(len(athletesSource)) + " athletes")
print("There are " + str(len(naWeightAthletes)) + " athletes, with na as weight")
print("There are " + str(len(naHeightAthletes)) + " athletes, with na as height")
print("There are " + str(len(naHeightAndWeigthAthletes)) + " athletes, with na as height AND na as weight")
print("There are " + str(len(nonNumericWeights)) + " athletes with a non numeric value for their weight")
print("There are " + str(len(filteredAthletes)) + " athletes with a that can be used to calculate their BMI")

There are 155031 athletes
There are 50547 athletes, with na as weight
There are 50547 athletes, with na as height
There are 50547 athletes, with na as height AND na as weight
There are 955 athletes with a non numeric value for their weight
There are 103529 athletes with a that can be used to calculate their BMI

### Athlete Event Results

In [73]:
athleteEventResults = pd.read_csv("../dataset/Olympic_Athlete_Event_Results.csv")
athleteEventResults

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,na,False
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,na,False
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,na,False
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,na,False
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,na,False
...,...,...,...,...,...,...,...,...,...,...,...
314902,2022 Winter Olympics,62,NED,Bobsleigh,"Monobob, Women",19019671,Karlien Sleper,148662,16,na,False
314903,2022 Winter Olympics,62,SVK,Bobsleigh,"Monobob, Women",19019671,Viktória Čerňanská,138683,17,na,False
314904,2022 Winter Olympics,62,KOR,Bobsleigh,"Monobob, Women",19019671,Kim Yu-Ran,137542,18,na,False
314905,2022 Winter Olympics,62,JAM,Bobsleigh,"Monobob, Women",19019671,Jazmine Fenlator-Victorian,128682,19,na,False
314906,2022 Winter Olympics,62,UKR,Bobsleigh,"Monobob, Women",19019671,Lidiya Hunko,149047,20,na,False

In [74]:
print(athleteEventResults.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314907 entries, 0 to 314906
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   edition      314907 non-null  object
 1   edition_id   314907 non-null  int64
 2   country_noc  314907 non-null  object
 3   sport        314907 non-null  object
 4   event        314907 non-null  object
 5   result_id    314907 non-null  int64
 6   athlete      314907 non-null  object
 7   athlete_id   314907 non-null  int64
 8   pos          314907 non-null  object
 9   medal        314907 non-null  object
 10  isTeamSport  314907 non-null  bool
dtypes: bool(1), int64(3), object(7)
memory usage: 24.3+ MB
None

#### Get all athlete event results with a medal

In [75]:
resultsWithMedal = athleteEventResults[athleteEventResults['medal'] != 'na']
resultsWithMedal

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
20,1908 Summer Olympics,5,ANZ,Athletics,"3,500 metres Race Walk, Men",56421,Harry Kerr,64719,3,Bronze,False
30,1908 Summer Olympics,5,ANZ,Boxing,"Middleweight, Men",21263,Snowy Baker,45153,2,Silver,False
32,1908 Summer Olympics,5,ANZ,Rugby,"Rugby, Men",31505,John Barnett,11237,1,Gold,True
33,1908 Summer Olympics,5,ANZ,Rugby,"Rugby, Men",31505,Phil Carmichael,11239,1,Gold,True
34,1908 Summer Olympics,5,ANZ,Rugby,"Rugby, Men",31505,Dan Carroll,11240,1,Gold,True
...,...,...,...,...,...,...,...,...,...,...,...
314877,2022 Winter Olympics,62,USA,Speed Skating,"500 metres, Women",19020424,Erin Jackson,138378,1,Gold,False
314880,2022 Winter Olympics,62,USA,Speed Skating,"1,000 metres, Women",19020425,Brittany Bowe,128778,3,Bronze,False
314887,2022 Winter Olympics,62,USA,Bobsleigh,"Monobob, Women",19019671,Kaillie Humphries,118672,1,Gold,False
314888,2022 Winter Olympics,62,USA,Bobsleigh,"Monobob, Women",19019671,Elana Meyers Taylor,118644,2,Silver,False
314889,2022 Winter Olympics,62,CAN,Bobsleigh,"Monobob, Women",19019671,Christine de Bruin,136825,3,Bronze,False

#### Filter event results that is not a teamsport

In [76]:
filteredResults = resultsWithMedal[resultsWithMedal['isTeamSport'] == False]
filteredResults

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
20,1908 Summer Olympics,5,ANZ,Athletics,"3,500 metres Race Walk, Men",56421,Harry Kerr,64719,3,Bronze,False
30,1908 Summer Olympics,5,ANZ,Boxing,"Middleweight, Men",21263,Snowy Baker,45153,2,Silver,False
70,1908 Summer Olympics,5,ANZ,Swimming,"400 metres Freestyle, Men",4494,Frank Beaurepaire,45155,2,Silver,False
75,1908 Summer Olympics,5,ANZ,Swimming,"1,500 metres Freestyle, Men",4509,Frank Beaurepaire,45155,3,Bronze,False
108,1912 Summer Olympics,6,ANZ,Swimming,"100 metres Freestyle, Men",4554,Cecil Healy,45217,2,Silver,False
...,...,...,...,...,...,...,...,...,...,...,...
314877,2022 Winter Olympics,62,USA,Speed Skating,"500 metres, Women",19020424,Erin Jackson,138378,1,Gold,False
314880,2022 Winter Olympics,62,USA,Speed Skating,"1,000 metres, Women",19020425,Brittany Bowe,128778,3,Bronze,False
314887,2022 Winter Olympics,62,USA,Bobsleigh,"Monobob, Women",19019671,Kaillie Humphries,118672,1,Gold,False
314888,2022 Winter Olympics,62,USA,Bobsleigh,"Monobob, Women",19019671,Elana Meyers Taylor,118644,2,Silver,False
314889,2022 Winter Olympics,62,CAN,Bobsleigh,"Monobob, Women",19019671,Christine de Bruin,136825,3,Bronze,False

## Results
### Results

In [77]:
results = pd.read_csv("../dataset/Olympic_Results.csv")
results

,result_id,event_title,edition,edition_id,sport,sport_url,result_location,result_participants,result_format,result_detail,result_description,start_date,end_date,time
0,9270,"7 metres, 1907 Rating, Open",1920 Summer Olympics,7,Sailing,/editions/7/sports/SAL,Oostende,8 from 2 countries,"Three races, with final places decided by tota...",na,There were two yachts competing. Britain’s An...,1920-07-07,1920-07-09,na
1,29722,"Featherweight (≤60 kilograms), Men",1980 Summer Olympics,20,Weightlifting,/editions/20/sports/WLF,"Dvorets sporta Izmaylovo, Moskva",18 from 14 countries,Total of best lifts in snatch and clean & jerk...,na,The favorite was likely Soviet Viktor Mazin wh...,1980-07-22,na,14:00-19:00
2,54126,"Platform, Men",1948 Summer Olympics,12,Diving,/editions/12/sports/DIV,"Wembley Arena, Wembley, London",25 from 15 countries,10 metre platform. Final round only. Four comp...,na,"Sammy Lee won this event, leading in both the ...",1948-08-04,1948-08-05,na
3,4684,"100 metres Backstroke, Men",1920 Summer Olympics,7,Swimming,/editions/7/sports/SWM,"Zwemstadion van Antwerpen, Antwerpen",12 from 6 countries,na,na,Watten Paoa Kealoha set a world record of 1:14...,1920-08-22,1920-08-23,na
4,1465,"Slalom, Men",2002 Winter Olympics,47,Alpine Skiing,/editions/47/sports/ALP,"Park City Mountain Resort, Park City, Utah (Kn...",77 from 43 countries,"Two runs, total time determined placement.",Jesse Hunt,The last few World Cups had gone to Austrian B...,2002-02-23,na,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7324,6049,"400 metres Freestyle, Women",1968 Summer Olympics,17,Swimming,/editions/17/sports/SWM,"Alberca Olímpica Francisco Márquez, Ciudad de ...",30 from 17 countries,na,na,At the US Olympic Trials Debbie Meyer had set ...,1968-10-19,1968-10-20,na
7325,84835,"Sabre, Team, Men",1936 Summer Olympics,11,Fencing,/editions/11/sports/FEN,"Sportforum, Turnhalle, Reichssportfeld, Berlin...",107 from 21 countries,na,na,On the middle of an era of total domination of...,1936-08-12,1936-08-13,na
7326,356742,"Sprint, Men",2016 Summer Olympics,59,Cycling Track,/editions/59/sports/CTR,"Velódromo Olímpico do Rio, Parque Olímpico da ...",27 from 16 countries,"Qualifying over 3½ laps, or 875 metres. Match ...",na,Jason Kenny of Great Britain had won the Olymp...,2016-08-12,2016-08-14,na
7327,8424,"100 metres Breaststroke, Men",2000 Summer Olympics,25,Swimming,/editions/25/sports/SWM,"Sydney International Aquatic Centre, Olympic P...",66 from 60 countries,na,na,In June and July 2000 Roman Sludnov of Russia ...,2000-09-16,2000-09-17,na
7328,18000430,"Shortboard, Women",2020 Summer Olympics,61,Surfing,/editions/61/sports/SRF,"Tsurigasaki Surfing Beach, Torami, Chiba",20 from 12 countries,na,na,The women’s competition provided some surprise...,2021-07-25,2021-07-27,na

In [78]:
print(results.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7329 entries, 0 to 7328
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   result_id            7329 non-null   int64
 1   event_title          7329 non-null   object
 2   edition              7329 non-null   object
 3   edition_id           7329 non-null   int64
 4   sport                7329 non-null   object
 5   sport_url            7329 non-null   object
 6   result_location      7329 non-null   object
 7   result_participants  7329 non-null   object
 8   result_format        7329 non-null   object
 9   result_detail        7329 non-null   object
 10  result_description   7329 non-null   object
 11  start_date           7329 non-null   object
 12  end_date             7329 non-null   object
 13  time                 7329 non-null   object
dtypes: int64(2), object(12)
memory usage: 801.7+ KB
None