# Data preparation

## Athletes

- Get all athletes from CSV
- Convert `height` and `weight` to numeric values, if not possible mark as `NaN`
- Filter athletes that don't have a valid `weight` and `height` 
- Remove `description` and `special_notes` columns
- Calculate `bmi` and add this to a new column

In [2]:
import pandas as pd
athletes = pd.read_csv("../dataset/Olympic_Athlete_Bio.csv")

# Convert height and weight to numeric value
athletes['height'] = pd.to_numeric(athletes['height'], errors='coerce')
athletes['weight'] = pd.to_numeric(athletes['weight'], errors='coerce')

# Filter athletes that don't have a valid weight and height
athletes = athletes.dropna(subset = ['weight', 'height'])

# Remove description and special_notes
athletes = athletes.drop(columns=['description', 'special_notes'])

# Calculate BMI and add column
athletes.loc[:, 'bmi'] = round(athletes['weight'] / ((athletes['height'] / 100) ** 2), 2)

athletes

,athlete_id,name,sex,born,height,weight,country,country_noc,bmi
1,43737,Andrzej Socharski,Male,1947-08-31,173.0,72.0,Poland,POL,24.06
2,50147,Nathalie Wunderlich,Female,1971-06-03,170.0,50.0,Switzerland,SUI,17.30
3,5085,Miha Lokar,Male,1935-09-10,182.0,76.0,Yugoslavia,YUG,22.94
4,136329,Austin Hack,Male,1992-05-17,203.0,100.0,United States,USA,24.27
5,38633,Tsuneo Ogasawara,Male,1942-07-30,181.0,80.0,Japan,JPN,24.42
...,...,...,...,...,...,...,...,...,...
155025,74088,Oddrun Hokland,Female,1942-11-29,162.0,59.0,Norway,NOR,22.48
155026,25136,Jean Palluch,Male,1923-12-23,180.0,80.0,France,FRA,24.69
155028,11757,Jo Hyeong-Won,Male,1936-07-12,173.0,65.0,Republic of Korea,KOR,21.72
155029,21666,Raúl Maroto,Male,1965-09-05,190.0,76.0,Spain,ESP,21.05
155030,72486,Shizo Kanakuri,Male,1891-08-20,170.0,64.0,Japan,JPN,22.15

## Athlete results

- Get all athlete event results from CSV
- Remove the teamsport results
- Remove the results without a medal

In [4]:
athlete_results = pd.read_csv("../dataset/Olympic_Athlete_Event_Results.csv")

# Filter the results that are individual
athlete_results = athlete_results[athlete_results['isTeamSport'] == False]

# Filter the results with a medal
athlete_results = athlete_results[athlete_results['medal'] != 'na']


athlete_results

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
20,1908 Summer Olympics,5,ANZ,Athletics,"3,500 metres Race Walk, Men",56421,Harry Kerr,64719,3,Bronze,False
30,1908 Summer Olympics,5,ANZ,Boxing,"Middleweight, Men",21263,Snowy Baker,45153,2,Silver,False
70,1908 Summer Olympics,5,ANZ,Swimming,"400 metres Freestyle, Men",4494,Frank Beaurepaire,45155,2,Silver,False
75,1908 Summer Olympics,5,ANZ,Swimming,"1,500 metres Freestyle, Men",4509,Frank Beaurepaire,45155,3,Bronze,False
108,1912 Summer Olympics,6,ANZ,Swimming,"100 metres Freestyle, Men",4554,Cecil Healy,45217,2,Silver,False
...,...,...,...,...,...,...,...,...,...,...,...
314877,2022 Winter Olympics,62,USA,Speed Skating,"500 metres, Women",19020424,Erin Jackson,138378,1,Gold,False
314880,2022 Winter Olympics,62,USA,Speed Skating,"1,000 metres, Women",19020425,Brittany Bowe,128778,3,Bronze,False
314887,2022 Winter Olympics,62,USA,Bobsleigh,"Monobob, Women",19019671,Kaillie Humphries,118672,1,Gold,False
314888,2022 Winter Olympics,62,USA,Bobsleigh,"Monobob, Women",19019671,Elana Meyers Taylor,118644,2,Silver,False
314889,2022 Winter Olympics,62,CAN,Bobsleigh,"Monobob, Women",19019671,Christine de Bruin,136825,3,Bronze,False